@page "/counter"
@using BlazorApp.Data

@implements IDisposable
@inject CounterService Service

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" > Current count: @Service.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    void Refresh() => InvokeAsync(StateHasChanged);
    override protected void OnInitialized() => Service.OnChange += Refresh;
    void IDisposable.Dispose() => Service.OnChange -= Refresh;

    private void IncrementCount()
    {
        Service.CurrentCount++;
    }
}
